<mat-toolbar>
  <mat-toolbar-row>
    <div class="row between-xs middle-xs">
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 lg_header_box">
        <div class="box" *ngIf="activateDemoAuth">
          <button mat-icon-button aria-label="Menú de Acciones Komerzio" (click)="openDialog()">
            <mat-icon>menu</mat-icon>
          </button>
        </div>
      </div>
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 center-xs ">
        <div class="box">
          <!-- <img src="#" class="logo-header" alt="Komerzio logo"> -->
        </div>
      </div>
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 end-xs lg_header_box" *ngIf="!activateDemoAuth;else authUser">
        <!-- <div class="box">
          <button mat-flat-button class="action-btn" (click)="goToRegister()">Registrarme</button>
        </div> -->
      </div>

    </div>
  </mat-toolbar-row>
</mat-toolbar>
<!-- FALTA EL LAYOUT CUANDO HACEN LOGIN -->

<ng-template #authUser>
  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 end-xs">
    <div class="row middle-xs end-xs">
      <div class="col-md-10 col-lg-10 user-info">
        <div class="box user-box">
          <p class="business-name">{{demoUserInfo.nombre}}</p>
          <p class="business-rol">{{demoUserInfo.rol}}</p>
        </div>
      </div>
      <div class="col-md-2 col-lg-2">
        <img matTooltip="{{demoUserInfo.nombre}} | {{demoUserInfo.rol}}" [src]="demoUserInfo.logo" class="user-avatar"
          alt="Business Logo">
      </div>
    </div>
  </div>
</ng-template>