<footer>
  <mat-toolbar>
    <mat-toolbar-row>
        <div class="row between-xs bottom-xs">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                <div class="box">
                    <div class="img">
                        <img [src]="assets.assetIsoLogo" class="logo-header" alt="Komerzio logo">
                    </div>
                    <div class="text-primary">
                        <p>Komerzio C.A, todos los derechos reservados</p>
                    </div>
                </div>
            </div>
        </div>
    </mat-toolbar-row>
  </mat-toolbar>
</footer>
