@import "./../../../assets/css/_colores.scss";

h2 {
    display: flex;
    justify-content: end;
    gap: 15px;

    span {
        cursor: pointer;
        font-size: 4vh;
        color: $blue-komerzio;
    }
}

.box {
    justify-content: center;
    align-items: center;
    display: flex;
}

table {
    width: 100%;
}