@import "./../../../assets/css/_colores.scss";

h2 {
    display: flex;
    justify-content: end;
    gap: 15px;

    span {
        cursor: pointer;
        font-size: 4vh;
        color: $blue-komerzio;
    }
}

.box {
    justify-content: center;
    align-items: center;
    display: flex;
}

.ingreso {
    color: #5CB75C;
    font-weight: 600;
}

.egreso {
    color: #961602;
    font-weight: 600;
}

.logout-btn {
    background-color: #ffd500;
    color: rgba(0, 0, 0, 0.849);
    font-size: 12px;
}

table {
    width: 100%;
}

@media (max-width: 500px) {

    h2 {
        font-size: 14px;
    }
}