<h2 mat-dialog-title>
    <span class="material-icons-outlined action-icon" (click)="closedDialog()">
        close
    </span>
</h2>
<h2 mat-dialog-title>
    Precio en Tasa {{data.listadoMontos[0].referencia}}: {{data.listadoMontos[0].montoBS}} Bs.S /
    {{data.listadoMontos[0].montoDollar}} REF
</h2>
<h2 mat-dialog-title>
    Precio en Tasa {{data.listadoMontos[1].referencia}}: {{data.listadoMontos[1].montoBS}} Bs.S /
    {{data.listadoMontos[1].montoDollar}} USD
</h2>
<div class="box">
    <table mat-table [dataSource]="data.listadoCuentas" class="mat-elevation-z8">

        <ng-container matColumnDef="tipo_cuenta">
            <th mat-header-cell *matHeaderCellDef> Tipo de Cuenta </th>
            <td mat-cell *matCellDef="let element"> {{element.tipo_cuenta}} </td>
        </ng-container>

        <ng-container matColumnDef="moneda">
            <th mat-header-cell *matHeaderCellDef> Moneda Inicial </th>
            <td mat-cell *matCellDef="let element"> {{element.moneda}} </td>
        </ng-container>

        <ng-container matColumnDef="monto">
            <th mat-header-cell *matHeaderCellDef> Monto Inicial </th>
            <td mat-cell *matCellDef="let element"> {{element.monto}} </td>
        </ng-container>

        <ng-container matColumnDef="otra_moneda">
            <th mat-header-cell *matHeaderCellDef> Moneda Solicitada </th>
            <td mat-cell *matCellDef="let element"> {{element.otra_moneda}} </td>
        </ng-container>

        <ng-container matColumnDef="otro_monto">
            <th mat-header-cell *matHeaderCellDef> Monto Solicitada </th>
            <td mat-cell *matCellDef="let element"> {{element.otro_monto}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


    </table>
</div>