/* You can add global styles to this file, and also import other style files */
@import "./assets/css/colores";

/* html, body { position: relative; min-height: 100%; }  */
//ACA HAY UN ERROR
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'header'
    'main'
    'footer';
}

body>footer {
  grid-area: footer;
}

.text-justify {
  text-align: justify;
}

.text-primary {
  text-align: left;
  font-size: 12px;
  letter-spacing: 0px;
  color: $texto;
  opacity: 1;

  strong {
    text-align: left;
    font-size: 12px;
    letter-spacing: 0px;
    color: $texto;
    opacity: 1;
  }
}

/* SIDE BAR GLOBAL STYLE */
.backdrop-lateral-menu {
  background-color: transparent;
}

.mat-dialog-container {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.mat-form-field-flex {
  border-radius: 10px !important;
}

.mat-form-field-underline {
  display: none;
}

.action-btn {
  background-color: $background-yellow;
  color: rgba(0, 0, 0, 0.849);
  font-size: 12px;
}

.text-primary {
  text-align: left;
  font: normal normal 300 14px/19px Roboto;
  letter-spacing: 0px;
  color: $texto;
  opacity: 1;
}