@import "../../../assets/css/_dashboard.scss";
@import "../../../assets/css/_colores.scss";

.egreso {
    color: #961602;
    font-weight: 600;
}

.separate {
    margin-top: 25px;
}

.komerzio-full-width {
    width: 100%;
}

.text-primary {
    font-size: 12px;
}

.pointer-list {
    margin-top: 10px;
    cursor: pointer;
}

.pointer-list button {
    cursor: default;
}

.button-primary {
    margin-top: 10px;
    width: 100%;
    height: 38px;
    background: $texto 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
    font: normal normal normal 12px/14px Roboto;
    letter-spacing: 0px;
    color: $white;
    opacity: 1;
}

.bcv .text-primary,
.enparalelo .text-primary {
    color: $background-toolbar;
}

.bcv button,
.enparalelo button,
.vendedores-ambulantes button {
    font-size: 16px;
}

.enparalelo {
    background-color: $enparalelo;
    color: $background-toolbar;
}

.bcv {
    background-color: $bcv;
    color: $background-toolbar;
}

.vendedores-ambulantes {
    background-color: $vendedor-ambulante;
    color: $texto;
}

@media (max-width: 1000px) {

    .bcv button,
    .enparalelo button,
    .vendedores-ambulantes button,
    .mobile-text button {
        font-size: 12px;
    }

    .komerzio-full-width,
    .button-primary {
        width: 80%;
    }

    .mobile-text {
        margin-top: 15px;
    }

    .pointer-list {
        width: 300px;
    }

}

@media (max-width: 500px) {

    .mat-toolbar {
        margin-left: 10px;
        width: 90%;
        height: 90%;
        padding: 5px;
    }

    .pointer-list {
        width: 100%;
    }

    .text-primary {
        font-size: 8px;
    }

    .bcv button,
    .enparalelo button,
    .vendedores-ambulantes button,
    .mobile-text button {
        font-size: 10px;
        padding: 6px;
    }

    .mobile-text {
        margin-top: 15px;
    }

}