<app-header> </app-header>
<div class="container">
    <div class="row separate">
        <div class="col-xs-4 co-sm-4 col-md-4 col-lg-4" *ngFor="let moneda of monedas">
            <mat-toolbar [class]="moneda.fuente">
                <div class="row middle-xs">
                    <div class="col-xs-4 col-sm-3 col-md-6 col-lg-6">
                        <p class="text-primary">{{moneda.titulo}}</p>
                    </div>
                    <div class="col-xs-3 col-sm-5 col-md-6 col-lg-6 end-xs mobile-text">
                        <button mat-button>{{moneda.monto}} BS.S</button>
                    </div>
                </div>
            </mat-toolbar>
        </div>
        <div class="col-xs-3 co-sm-4 col-md-4 col-lg-4 middle-xs"> </div>
        <div class="col-xs-6 co-sm-4 col-md-4 col-lg-4 middle-xs">
            <mat-toolbar class="pointer-list" (click)="listadoMontos()">
                <div class="row middle-xs">
                    <div class="col-xs-2 col-sm-3 col-md-6 col-lg-5">
                        <p class="text-primary">Monto disponible en {{montoDisponible[0].referencia}}</p>
                    </div>
                    <div class="col-xs-6 col-sm-5 col-md-6 col-lg-6 end-xs mobile-text"
                        [class]="{'egreso' : montoDisponible[0].montoBS < 0}">
                        <button mat-button>{{montoDisponible[0].montoBS | number : '1.2-2'}} BS.S</button>
                        <button mat-button>{{montoDisponible[0].montoDollar | number : '1.2-2'}} REF</button>
                    </div>
                </div>
            </mat-toolbar>
        </div>
        <div class="col-xs-3 co-sm-4 col-md-4 col-lg-4 middle-xs"> </div>
    </div>
    <form [formGroup]="formCuentas" (ngSubmit)="registerAccount()">
        <div class="row center-xs separate">
            <div class="col-md-5 col-xs-8">

                <mat-form-field class="komerzio-full-width" appearance="fill">
                    <mat-label>Tipo de Cuenta</mat-label>
                    <input type="text" formControlName="tipo_cuenta" matInput>
                    <mat-error *ngIf="formCuentas.invalid">{{getErrorMessage('tipo_cuenta')}}</mat-error>
                </mat-form-field>

                <mat-form-field class="komerzio-full-width" appearance="fill">
                    <mat-label>Motivo de Cuenta</mat-label>
                    <mat-select formControlName="motivo_cuenta">
                        <mat-option value="ingreso"> Ingreso </mat-option>
                        <mat-option value="egreso"> Egreso </mat-option>
                    </mat-select>
                    <mat-error *ngIf="formCuentas.invalid">{{getErrorMessage('motivo_cuenta')}}</mat-error>
                </mat-form-field>

                <mat-form-field class="komerzio-full-width" appearance="fill">
                    <mat-label>Monto Disponible</mat-label>
                    <input type="number" formControlName="monto" matInput>
                    <mat-error *ngIf="formCuentas.invalid">{{getErrorMessage('monto')}}</mat-error>
                </mat-form-field>

                <mat-form-field class="komerzio-full-width" appearance="fill">
                    <mat-label>Tipo de Moneda</mat-label>
                    <mat-select formControlName="moneda">
                        <mat-option value="BS.S"> Bolivares </mat-option>
                        <mat-option value="REF"> Dolares </mat-option>
                    </mat-select>
                    <mat-error *ngIf="formCuentas.invalid">{{getErrorMessage('monto')}}</mat-error>
                </mat-form-field>

                <button type="submit" class="button-primary" mat-flat-button [disabled]="!formCuentas.valid">
                    Agregar Cuenta
                </button>
            </div>
        </div>
    </form>
</div>
<!-- <app-footer> </app-footer> -->